In [ ]:
import scipy.io
import numpy as np

file_name = 'cars_train_annos.mat'

annotations = scipy.io.loadmat(file_name)
print(annotations["__header__"])

In [ ]:
print(score.dropna(how = 'all'))

In [ ]:
import numpy as np
import pandas as pd

data = pd.Series(['apple','banana','apple', 'banana'])
print(data.str.upper())

In [ ]:
import pandas as pd

df = pd.melt(df, id_vars = 'id', value_vars = ['math', 'chemistry'])

print(df)

In [ ]:
import numpy as np
import h5py

hf = h5py.File('LIGO_data.hdf5', 'r')
print(hf)

In [ ]:
import pandas as pd
import numpy as np

df = pd.pivot_table(
	restaurant,
    values = ['price', 'rating'],
    index = 'cuisine',
    aggfunc = np.mean
)

print(df)

In [ ]:
import scipy.io
import numpy as np

mat = scipy.io.loadmat('file.mat')
print(type(mat))

In [ ]:
import pandas as pd

plants['name'] = plants['name'].str.lower()
print(plants.head())

In [ ]:
import pandas as pd

l = ['2012-01-01 091234','2012-01-01 091234']
print(pd.to_datetime(l))

In [ ]:
game = game.set_index('name')

print(game)

In [ ]:
user_xp['status'] = user_xp['status'].astype('category')

print(user_xp.info())

In [ ]:
import pandas as pd

job_listings = pd.read_csv(file_name, index_col=0, nrows= 4)

print(job_listings.head().transpose())

In [ ]:
import numpy as np

data = np.loadtxt("data.txt", delimiter="\t", dtype="int")

print(data)

In [ ]:
print(df.height.astype('int64'))

In [ ]:
print(game.dropna(subset = ["team"]))